body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

#header {
	position: sticky;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: #302c4a;
}

.navbar {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#main {
	background-image: radial-gradient(
		farthest-corner at 1px 1px,
		#b1b1d8 0%,
		#35305a 100%
	);
	padding: 0;
}

.navbar a {
	font-size: min(20vw, 2rem);
	white-space: nowrap;
	color: #d6d6d6;
	margin: 2rem;
}

.navbar #home {
	margin-right: auto;
	margin-left: 3rem;
}

.navbar a:last-child {
	margin-right: 3rem;
}

.navbar a:hover {
	cursor: pointer;
}

#about {
	display: flex;
	padding-left: 200px;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
}
.greeting {
	text-align: left;
	font-size: 5em;
	font-weight: bolder;
	margin-bottom: 0;
	color: #302c4a;
}

.italics {
	font-size: 2em;
	text-align: left;
	font-style: italic;
	color: #d6d6d6;
}

#projects {
	background-color: #44577d;
	padding: 1.5rem;
}

h2 {
	color: #d6d6d6;
	text-align: center;
	text-decoration: underline;
	font-family: monospace;
	font-size: 2rem;
}

.grid-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.item {
	width: 300px;
	height: 200px;
	background-color: darkred;
}
