* {
	scroll-behavior: smooth;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}

#header {
	position: sticky;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 999;
	background-color: #302c4a;
}

.navbar {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.navbar a {
	font-size: clamp(1em, 3vw, 2em);
	white-space: nowrap;
	color: #d6d6d6;
	padding: 1.5rem;
	text-decoration: none;
}

#main {
	background-image: radial-gradient(
		farthest-corner at 1px 1px,
		#b1b1d8 0%,
		#35305a 100%
	);
	padding: 0px;
	margin: 0px;
}

.navbar #home {
	margin-right: auto;
	margin-left: 2rem;
}

.navbar a:last-child {
	margin-right: 2rem;
}

.navbar a:hover {
	cursor: pointer;
	background-color: #44577d;
	color: #ffffff;
	transition: 0.3s ease;
}

#about {
	display: flex;
	padding-left: min(10vw, 200px);
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
}

.greeting {
	overflow: hidden;
	text-align: left;
	font-size: clamp(6rem, 12vw, 7rem);
	font-weight: bolder;
	margin: 0;
	color: #302c4a;
}

.italics {
	overflow: hidden;
	font-size: clamp(2rem, 5vw, 3rem);
	text-align: left;
	font-style: italic;
	color: #d6d6d6;
	margin-bottom: 200px;
}

.greeting .reveal-animation {
	display: block;
	animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

.italics .reveal-animation {
	display: block;
	animation: reveal 3.5s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

@keyframes reveal {
	0% {
		transform: translate(0, 100%);
		margin: 0;
	}
	100% {
		transform: translate(0, 0);
	}
}

#projects {
	background-color: #44577d;
	padding: 3rem;
	padding-bottom: 10rem;
}

h2 {
	color: #efefef;
	font-family: monospace;
	text-align: center;
	text-decoration: underline;
	font-size: 3rem;
	margin-bottom: 4rem;
}

.grid-items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 4rem;
	width: 100%;
	margin: 0 auto;
	max-width: 1280px;
}

.item {
	width: 400px;
	height: 500px;
	text-decoration: none;
}

.img {
	margin: 0px;
	width: 100%;
	object-fit: fill;
	height: 85%;
	padding: 0px;
	display: block;
}

.img:hover {
	transition: 0.3s ease;
	opacity: 0.7;
	cursor: pointer;
}
.project-link {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px;
	background-color: #302c4a;
	width: 100%;
	height: 15%;
}

.project-link > p {
	color: #d6d6d6;
	text-decoration: none;
	font-size: 1.5em;
	font-family: monospace;
	font-weight: bold;
}

#contact {
	display: flex;
	/* background-color: #3c325d; */
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;
}

#contact h1 {
	text-align: center;
	font-family: Tahoma;
	color: #efefef;
	font-size: 6rem;
}

.flex-items {
	width: min(60vw, 50rem);
	display: flex;
	justify-content: space-around;
}
.flex-items > a {
	font-size: 2rem;
	color: #b5b5b5;
	text-decoration: none;
	font-weight: bolder;
}

.flex-items > a:hover {
	cursor: pointer;
	transition: 0.3s ease;
	transform: translateY(10px);
}

.fab {
	font-family: "Font Awesome 5 Brands";
	display: inline;
	white-space: nowrap;
}
